@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Muli|Open+Sans|Ovo');
@import url('https://fonts.googleapis.com/css?family=Quattrocento');

// variables for the stylesheet.
$font-primary: 'Quattrocento', serif;
$font-secondary: 'Open Sans', sans-serif;
$color-royal-purple: #61458B;
$color-blue: #277cb0;

body {
  background-color: white;
}

a {
  color: royalblue;
}
a:hover {
  color: darkblue;
  text-decoration: none;
}

p {
  font-size: 15px;
  color: #333333;
  font-weight: 200;
  line-height: 2em;
  letter-spacing: 0.5px;
}

.btn {
  border-radius: 0;
}

h1, h2, h3, h4, h5 {
  font-family: $font-primary;
}

h1 {
    font-size: 25px;
    color: #61458B;
    letter-spacing: 1px;
}

h2 {
  color: $color-royal-purple;
  font-size:40px;
  font-weight:400;
  line-height: 55px;
  margin-bottom: 15px;
}

h2.frontpage {
  font-size: 23px;
  letter-spacing: 1px;
  font-weight: 700;
}

a img:hover {
  opacity: 0.9;
}

img {
  max-width:100%;
}

.btn-primary {
  color: #fff;
  background-color: #61458B;
  border-color: #61458B;
}

.btn-primary:hover {
  background-color: #3a235d;
  border-color: #61458B;
}
.btn-primary:active {
  background-color: #3a235d;
  border-color: #61458B;
}

.btn-outline-primary {
  color: #61458B;
  background-color: transparent;
  background-image: none;
  border-color: #61458B;
}
.btn-outline-primary:hover {
  background-color: #3a235d;
  border-color: #61458B;
}

#main-wrapper {

  .block-heading-250 {
    position: relative;
    min-height: 200px;
    background-color: #36b37e;
    margin-bottom: 60px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    background: url("../img/IMG_9516.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  #landing {
    height: 55vh;
    margin-top:-50px;
    background-position: center;
    background-image: url("../img/IMG_9475.jpg");
    position: relative;
    background-color: #F4F7F9;
    background-size: cover;
    background-attachment: fixed;

    #title {
      bottom: 90px;
      left: 0;
      position: absolute;
      background-color: hsla(0, 0%, 0%, 0.5);
      padding:10px 30px 10px 50px;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;

      h1 {
        color: white;
        margin:0;
        font-size: 22px;
      }
    }
  }

  #sidebar {

      hr {
        margin: 20px auto 20px auto;
      }

      ul {
        list-style: none;
        padding-left: 0px;

        li {
          display: flex;
          flex:1;
          line-height: 32px;

          a {
            flex: 1;
            padding-left: 15px;
            padding-right: 15px;
          }

          a:hover {
            background-color: rgb(97, 69, 139);
            color: white;
            text-decoration: none;
            border-radius: 5px;
          }
        }
      }
  }
  #information {
    background: hsl(211, 20%, 97%);
    padding-top: 12vh;
    padding-bottom: 12vh;
    margin-bottom: 35px;

    h2 {
      margin-bottom: 35px;
    }

    p {
      margin-bottom: 45px;
    }

    #selfie {

      height: 200px;
      //border-radius: 5px;
      //border: 1px solid #efefef;

      img {
        border-radius: 5px;
      }
    }

  }

  .quick-glance {
    padding-top: 50px;

    p {
      font-size: 16px;
    }

    h2 {
      margin-bottom: 12px;
      border-bottom: 3px solid #eaeaeb;
      padding-bottom: 16px;
    }

    .article-group {
      display: flex;

      article {
        padding: 1rem;
        //width: 280px;

        .image {
          //width: 280px;
          //height: 210px;
          margin-bottom: 20px;
          border-radius: 8px;

          img {
            width: 100%;
            height: 200px;
            border-radius: 8px;
            image-rendering: pixelated;
          }
        }

        .category {
          font-size: 12px;
          margin-bottom: 10px;
        }

        .title {
          font-size: 16px;
          color: $color-royal-purple;
        }

        h3 {
          color: #212529;
          margin:0;
          font-size: 1.3rem;
        }
      }
      article:hover {
        border: 1px dashed #c7c6c6;

        p {
          font-weight: bold;
        }
      }
    }
  }

  #information-accent {
    height: 20px;
    background-color: #fbfbfb96;
  }

  #newsletter-bar {
    display: flex;
    color: white;
    margin-top: 75px;
    background-color: #61458B;

    .row {
      flex: 1;
      align-items: center;
    }

    h1 {
      font-size: 26px;
      margin-bottom: 0;
      color: white;
      flex:1;
      text-align: center;
      text-transform: capitalize;
    }

    form {
      flex:1;
      display: flex;
      align-items: baseline;

      button {
        background-color: white;
      }

      .form-group {
        margin-bottom: 0;
        flex:1;
        margin-right: 1rem;
      }
    }

    .container {
      display: flex;

      .positioning {
        flex:1;
        display: flex;
        align-items: center;
      }
    }
  }

  #blog-page {

    @media screen and (min-width: 992px) {
      article {
        //padding-right: 40px;
      }
      article:first-child {
        //padding-top: 0;
      }
    }

    h2 a {
      color:inherit;
    }
    h2 a:hover {
      color: #513a75;
    }

    article {
      //background-color: white;
      //box-shadow: 0 1px 5px #dcdcdc;
      //border: 0 solid hsla(0,0%,100%,.25);
    }

    .creator {
      color: grey;
      letter-spacing: .2em;
      font-size:11px;
      margin-bottom: 10px;
    }

    .content {
      text-align: justify;
    }

    hr {
      margin: 25px auto 25px auto;
    }

    #blog-heading {
      color: white;

      .row {
        margin: 0;
      }
    }

    #search-articles-input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    #submit-articles-search {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  footer {
    background-color: #FBFBFB;

    a {
      font-size: 14px;
      color: #16111c;
    }
    a:hover {
      color: #382850;
    }

    #copyright {
      padding-top: 30px;
      padding-bottom: 30px;
      color: #212529;
      border-top: 1px solid #f5f5f5;
      background-color: #f7f7f8;
    }

    #explore {
      padding-top: 8vh;
      padding-bottom: 8vh;
      background-color: white;

      ul {
        padding-left: 20px;
      }

      #explore-articles {
        //list-style: none;
        //padding-left: 20px;
      }
    }
  }
}

.social {
  font-size: 2em;

  a {
    color: #000000;
  }
  a.youtube:hover {
    color: #cc2020;
  }
  a.facebook:hover {
    color: #3f5d9b;
  }
  a.twitter:hover {
    color: #28aae1
  }
}

ul.pagination {
  li {
    border: 1px solid #e5e5e5;
    padding: 10px;
  }
}

.pr-40 {
  padding-right: 40px;
}