
// control the accent color that represnts the service.
$accentColor: #2b4162;

body {
  font-size:14px;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}

a {
  transition: background-color 100ms linear, color 100ms linear, border 100ms linear;
}

header {
  background-color: $accentColor;
}

.navbar-toggler {
  border: 0;
  font-size: 12px;
  color: white !important;
  cursor: pointer;
}
.navbar .profile-image {
  height:24px;
  width:24px;
}
.navbar .profile-image img {
  width:100%;
  height:100%;
  border-radius: 3px;
}
.fa {
  font-size:1.2em;
}
#nav-sidebar {
  min-height:95.77vh;
  flex-basis: 220px;
  transition: left 0.15s;
  background-color: #fafafa;
  box-shadow: inset -2px 0 0 #e5e5e5;
  transform: translate3d(0, 0, 0);

  .head {
    border-bottom: 1px solid #dcdde0;
    background-color: white;
    border-right: 1px dashed #dcdde0;
  }
}

#nav-sidebar.collapsed {
  ul li a {
    text-align: center;
  }
}
.collapsed .nav-title, .collapsed .website-name {
  display: none;
}

#nav-sidebar.collapsed {
  width: auto;
  min-width: 50px;
}

#nav-sidebar .head .logo {
  height: 35px;
  width: 35px;
  margin-right: 5px;
}
#nav-sidebar .head, #nav-sidebar .foot {
  display: flex;
  height:60px;
  align-items: center;
}
#nav-sidebar .nav-icon {
  margin-right:10px;
}
#nav-sidebar ul li {
  display: flex;
  align-items: center;
}
#nav-sidebar ul li a, .head {
  flex:1;
  font-size: 14px;
  color: #707070;
  padding: 12px 16px;
  text-decoration: none;
}
#nav-sidebar ul li a.active {
  color: #3c4573;
  border-right: 5px solid #3c4573;
  background-color: rgba(60, 69, 115, 0.09019607843137255);
  border-bottom: 1px solid rgba(128, 128, 128, 0.12156862745098039);
}

#nav-sidebar ul li a:hover {
  color: #464646;
  background-color: rgba(0,0,0,0.04);
}
.navbar {
  padding: 0 16px;
  z-index: 1000;
  margin-bottom: 0;
  min-height: 40px;
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0;
}

.navbar-sub-nav>li>a, .navbar-nav>li>a, .navbar-brand {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
  margin: 4px 2px;
  font-size: 12px;
  border-radius: 4px;
  height: 32px;
  font-weight: 600;
}
.navbar a:hover {
  background-color: rgba(209,209,240,0.2);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.78);
}

.overview {

    .avatar {
      display: flex;
      align-content: center;

      img {
        width:70px;
        height:70px;
        margin: auto;
        border: 1px solid #e5e5e5;
        border-radius: 7px;
      }
    }

  .title {
    text-align: center;
    h3 {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 24px;
      font-weight: 400;
      line-height: 1;
      word-wrap: break-word;
    }
  }
}

.page-details {
  h3 {
    color: #2e2e2e;
    font-weight: 600;
    font-size: 24px;
  }
  p {
    color: #2e2e2e;
    font-size: 14px;
  }
}

.webshelf-table {

    color: #2e2e2e;

    .row {
      margin: 0;
      display: flex;
      padding: 20px 16px;
      border-bottom: 1px solid #eee;
      align-items: center;

        .avatar {
          float:left;

          img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            border-radius: 50%;
            border: 1px solid #f5f5f5;
          }
        }
        
        .title {
          font-weight: 600;
        }
        .website, .timestamp {
          color: grey;
        }
        .details, .console, .stats {
          flex: 1;
        }

        .details {
          text-align:left;
        }
        .console {
          display: flex;
          align-self: center;
          text-align:center;
          //border: 1px solid #e8e8e8;
          //border-radius: 7px;
          padding: 5px;

          ul {
            flex:1;
            display: flex;
            margin: 0;
            justify-content: space-evenly;
            color: grey;

            li a{
              color: #2e2e2e;
              display: flex;
              flex-direction: column;
              align-items: center;

              &:hover {
                color: purple;
                text-decoration: none;
              }
            }
          }
        }
        .stats {
          text-align:right;
        }
    }
    .row:hover {
      border-radius:7px;
      background-color:#fafafa;
    }
}

.searchbar {
  display: flex;
  background-color:#fafafa;
  padding: 15px;
  border-bottom: 1px solid #eee;

  .text {
    flex:3;
  }

  .ordering {
    flex:1;
  }
}

.green {
  color:green;
}
.red {
  color: red;
}
.blue {
  color: dodgerblue;
}
.grey {
  color: grey;
}

.webshelf-scope-menu {
  margin-bottom: 20px;

  ul {
    display: flex;
    border-bottom: 1px solid rgb(229, 229, 229);

    li {
      a {
        display: block;
        padding: 10px;
        font-size: 14px;
        line-height: 28px;
        color: #707070;
        border-bottom: 2px solid transparent;
        white-space: nowrap;

        &.active, &.active:hover {
          color: #2b4162;
          font-weight: 500;
          border-bottom: 2px solid #2b4162;
        }
        &:hover {
          text-decoration: none;
          color: #000;
          border-bottom: 2px solid #c4c4c4;
        }
      }
    }
  }
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #707070;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: rgba(0,0,0,0.07);
  border-radius: 10px;
}

.form-actions {
  margin-top: 0;
  margin-bottom: -16px;
  padding: 16px;
  background-color: #fafafa;
  border-top: 1px solid #e5e5e5;
}

.btn {
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 10px;
  background-color: #fff;
  border-color: #e5e5e5;
  color: #2e2e2e;
  color: #2e2e2e;
}

.btn:hover {
  background-color: #f0f0f0;
  border-color: #e3e3e3;
  color: #2e2e2e;
  cursor: pointer;
}

.btn-update {
  background-color: #1aaa55;
  border-color: #168f48;
  color: #fff;
}
.btn-update:hover {
  background-color: #168f48;
  border-color: #12753a;
  color: #fff;
}

.btn-create {
  background-color: #1aaa55;
  border-color: #168f48;
  color: #fff;
}
.btn-create:hover {
  background-color: #168f48;
  border-color: #12753a;
  color: #fff;
}

.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 2px;
  padding: 6px 10px;
}

#body-margin-top-40 {
  display: flex;
  margin-top: 40px;
}
#content-wrapper {
  flex: 1;
}

.button-reset {
  cursor: pointer;
}

.content {
  .heading {
    padding-top: 1.6em;
    padding-bottom: 1.6em;
    border-bottom: 1px solid #e5e5e5;
    background-color: rgb(250, 250, 250);
    margin-bottom: 16px;
    padding-left: 1.4em;

    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.dashboard {
  .panel {
    padding: 1.6em;
    //background-color: #f9f9f9;
    margin: 5px;
    //border: 1px solid grey;

    ul {
      padding: 0;
      list-style: none;

      li {
        display: flex;
        padding: 9px 0;
        border-bottom: 1px solid #f0f0f0;

        .status.icon {
          margin-right: 10px;
        }
        .status.message {
          text-align: right;
        }
        .status.badge {
          text-align: center;
        }
        .status.text {
          flex: 1;
        }
      }

      .badge {
        border-radius: 7px;
        color: white;
        background-color: #2b4162;
      }
    }

    .icon.green {
      color: green;
    }
    .icon.red {
      color: red;
    }

    &#welcome {
      .last-login {
        font-weight: bold;
      }
    }
  }
}

.content-table {
  //display: flex;

  .row {
    display: flex;
    padding: 9px;
    border-bottom: 1px solid #f0f0f0;

    .details {
      text-align: right;
    }

    .avatar {
      width: 32px;
      height: 32px;
      margin-right: 10px;
      margin-top: 5px;

      img {
        height: 100%;
        width: 100%;
      }
    }

    .event {
      .title {
        font-weight: 600;
      }
    }

    &>div {
      flex: 1;
    }
  }
}

.form-group {
  small ul {
    list-style: decimal;
    padding-left: 20px;
  }
}


.resource-detail-header {
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
  color: #2e2e2e;
  line-height: 34px;
  display: flex;

  .time {
    //
  }
  .author {
    //
  }
}