#editor.content {

}
#editor.content img.align-left {
    float:left!important;
    margin-right:15px;
}
#editor.content img.align-right {
    float:right!important;
    margin-left:15px;
}
#editor.content p {
    line-height: 28px;
}
#editor.content p, #editor.content ul li {
    font-size:14px;
    margin-bottom: 20px;
    text-align: justify;
}